
@import url("./headerFooter.css");

main section{
  width: 100%;
  margin: 10px auto;

  display: flex;
  justify-content: center;
}
main section video{
  width: 95%;
  max-width: 500px;
  min-width: 200px;
  margin: 0 auto;
}
.form{
  background-color: var(--principal);
}
form{
  width: 50%;
  max-width: 500px;
  min-width: 200px;
  overflow: hidden;
  margin: 10px auto;
  padding: 5px;
}
form h2{
  text-align: center;
  margin: 10px auto;
  font-weight: 400;
}
form label{
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom: 0;
}
form input, 
form textarea{
  width: 100%;
  min-width: 180px;
  max-width: 500px;
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 0;
  padding: 5px 8px;
  font-size: 12px;
}

input[type= submit]{
  background-color: var(--principal);
  color: white;
}


